@model IEnumerable<vegetable.Models.Category>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Create", "Category", "Post"))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CategoryPic)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th></th>
        </tr>

        <tr>
            <td>
                @Html.TextBox("CategoryName")
            </td>
            @*<td>
                @Html.TextBox("CategoryPic")
            </td>*@
            <td>
                @Html.TextBox("CategoryDescription")
            </td>
        </tr>
    </table>
    <input type="submit" value="Save" class="btn btn-default" />
}

