
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/adminCss")

    @Scripts.Render("~/bundles/modernizr")
   
    @RenderSection("TopCss", required: false)
    @RenderSection("Topscripts", required: false)
</head>
<body>

  
       
    
    <div id="container" class="sidebar-close">
        @Html.Partial("_NavPartial")
        <div id="main-content">
            <div class="wrapper">
                @RenderBody()
            </div>
        </div>
        <hr />

    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("EndCss", required: false)
    @RenderSection("Endscripts", required: false)
</body>
</html>
