
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台管理者頁面</title>

    @Styles.Render("~/Content/vegetable")
    @Styles.Render("~/Content/adminCss")
    
    @Scripts.Render("~/bundles/modernizr")

    <style>
        body {
            font-size:15px;
            background:#fffafa;
            font-family: Comic Sans MS,arial,"Microsoft JhengHei","微軟正黑體",sans-serif;
        }

        .btn-mytype {
            font-weight:600;
            border-radius:20px;
            letter-spacing:0.1em;
            color:white!important ;
            padding:3px 10px;
            margin:2px;
        }

        .btn-mycreatetype {
            background-color:#ffc107;
            border:2px solid #ffc107;
        }

        .btn-mycreatetype:hover {
            color:#ffc107 !important;
            background-color:#fff;
            border:2px solid #ffc107;
            letter-spacing:0.1em;
        }

        .btn-myedittype {
            background-color:#00d975;
            border:2px solid #00d975;
        }

        .btn-myedittype:hover {
            color:#00d975 !important;
            background-color:#fff;
            border:2px solid #00d975;
            letter-spacing:0.1em;
        }

        .btn-mydeletetype {
            background-color:#c15ff5;
            border:2px solid #c15ff5;
        }

        .btn-mydeletetype:hover {
            color:#c15ff5 !important;
            background-color:#fff;
            border:2px solid #c15ff5;
            letter-spacing:0.1em;
        }

        .btn-mydetailtype {
            background-color:#84C1FF;
            border:2px solid #84C1FF;
        }

        .btn-mydetailtype:hover {
            color:#84C1FF !important;
            background-color:#fff;
            border:2px solid #84C1FF;
            letter-spacing:0.1em;
        }

        table {
            width: unset !important;
            border-collapse:collapse;
            border: 3px solid #dee2e6;
            background-color:#fff;
        }

        table thead {
            border: 2px solid #dee2e6;
        }

        ul.sidebar-menu li a {
            font-size:15px;
        }

        .content-title {
            margin:20px;
        }
        
        /*table tbody tr:nth-of-type(odd) {
            background-color:#fffdfd;
        }

        table tbody tr:hover {
            background-color:#faffff
        }*/
    </style>

    @RenderSection("TopCss", required: false)
    @RenderSection("Topscripts", required: false)
</head>
<body>
    <div id="container" class="sidebar-close">
        <div class="row">
            <div>
                @Html.Partial("_NavPartial")
            </div>
            <div class="w-100" style="margin-left:220px">
                <div class="wrapper w-100">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/CartJs")
    @RenderSection("scripts", required: false)
    @RenderSection("EndCss", required: false)
    @RenderSection("Endscripts", required: false)
</body>
</html>
