
@{
    ViewBag.Title = @ViewBag.ProductName;
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}

<style>
    /**/
    /** {
        font-family: "Open Sans",Arial,Helvetica,sans-serif;
    }*/

    .fa-star {
        color: rgb(255, 210, 0);
    }

    /*.Product-info {
        box-sizing: border-box;
        width: 120px;
    }*/

    .btn-size {
        border: 1px solid #dedede;
    }

    .add-to-cart {
        border: 2px solid #000;
    }

    .productView-title {
        font-size: 20px;
        font-weight: 400;
        margin: 0 10px 10px 0;
        letter-spacing: .02em;
        line-height: 32px;
    }

    .productView-rating {
        padding-top: 8px;
        padding-bottom: 27px;
    }

    .productView-price {
        font-family: Poppins,Arial,Helvetica,sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #000;
        letter-spacing: .02em;
    }

    #button#form-action-addToCart {
        font-size: 90px;
        min-width: 270px;
        max-width: 280px;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-pack: center;
        justify-content: center;
        color: #000;
        background-color: #fff;
        border-color: #000;
    }

    /*產品小圖和社群列*/
    .productView-thumbnail {
        display: flex;
        justify-content: center;
    }

    /*產品小圖*/
    .viewPic {
        width: 64px;
        height: 97px;
    }

    .btn-outline-white, .RAndQ {
        border: 1px solid #e5e5e5;
    }

    #questionCount, #reviewCount {
        background: #eee;
        padding: 2px 5px;
        margin-left: 10px;
    }

    /*防止layout margin影響*/
    button {
        margin: 0;
        /*去除點擊後的籃框*/
        box-shadow: none;
        outline: none;
    }

    /*數量input大小*/
    #quantity {
        width: 68px;
        height: 42px;
    }

    .btn:focus, .btn:active {
        outline: none !important;
        box-shadow: none;
    }

    /*nav bar*/
    #container_page_nav {
        background-color: #f7f8f9;
        padding: 20px 0 15px 15px;
        margin-top: 15px;
        margin-bottom: 36px;
    }

    .breadcrumb {
        background-color: #f7f8f9;
        padding: 0;
        margin: 0;
    }

    .breadcrumb-item {
        display: inline-block;
        padding-right: 10px;
    }

        .breadcrumb-item::before {
            content: ">" !important;
            color: #b4b4b4 !important;
            margin: 0 12px 0 3px;
        }

        .breadcrumb-item:first-child::before {
            display: none;
        }

        .breadcrumb-item a {
            color: #b4b4b4;
        }

            .breadcrumb-item a:hover {
                color: #000;
                /*border-bottom: 1px solid #000;*/
            }

        .breadcrumb-item.active a:hover {
            color: #b4b4b4;
        }

    /*產品 card*/
    nav.navBar--sub ul.navBar-section li.navBar-item.is-active a {
        background: #fff;
        position: relative;
        text-decoration: none !important;
    }



    nav.navBar--sub ul.navBar-section li.navBar-item a {
        font-size: 13px;
        font-weight: 700;
        display: block;
        display: table-cell;
        padding: 15px 30px 3px;
        transition: background .3s ease 0s;
        vertical-align: middle;
        letter-spacing: .1em;
        text-transform: uppercase;
        color: #000;
        border: 1px solid #e5e5e5;
        background: #f7f8f9;
        text-decoration: none !important;
        float: left;
        height: 51.6px;
    }

    .navBar-section {
        list-style-type: none;
    }


    .btn.btn-checkout, .btn.btn-checkout:hover {
        border-color: #000;
        background: #000;
    }

    .btn.btn-checkout {
        max-width: 270px;
        padding-top: 10px;
        color: #fff;
    }

    .form-input, .form-select {
        border-style: solid;
        border-width: 1px;
        font-family: inherit;
        margin: 0;
        font-size: 1rem;
        width: 100%;
        height: 42px;
        padding: 0px;
        transition: border-color .1s ease-out;
        background-color: #fff;
        border-color: #dcdcdc;
        color: #454545;
        max-width: none;
    }

    .page-heading {
        font-size: 24px;
    }

    .alert {
        padding: 10px 30px 1px 25px;
        margin-top: 40px;
        margin-bottom: 160px;
        border-radius: 1px;
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
    }

    ul {
        padding-left: 0px;
    }

    .container_page {
        margin: 0 auto;
        padding-bottom: 80px;
        border-top: 1px solid #eaeaea;
    }

    .productBlockContainer {
        margin: 0 -15px;
        display: flex;
        /*flex-wrap:wrap;*/
    }

    .prod-item {
        margin-bottom: 27px;
        width: 33.33%;
        float: left;
    }

    .card-figure {
        padding: 0;
        position: relative;
        margin-top: 0;
    }

    .prod-item .prod-image {
        position: relative;
        margin-bottom: 21px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        .prod-item .prod-image > a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 100%;
        }

    .card-image {
        width: 350px;
        /*height: 405px;*/
        max-width: 100%;
    }

    .prod-item .prod-image > a img.lazyloaded {
        width: 100% !important;
    }

    .card-image {
        border: 0;
        display: inline-block;
    }

    .actions > .btnQV,
    .actions > a.btnWL,
    .actions > a.btnATC {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
        position: absolute;
    }

    .actions > a.btnWL {
        top: -20px;
        right: 13px;
        display: inline-block;
        width: 30px;
        padding: 5px;
        font-size: 16px;
        text-align: center;
    }

        .actions > a.btnWL:hover {
            border-bottom: none;
        }

    .btnWL {
        font-weight: 400;
        color: #000;
    }

        .btnWL:hover {
            cursor: pointer;
            color: #000;
            border-bottom: 1px dotted #000;
        }


    .actions > a.btnATC {
        width: 100%;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
    }

    .actions > .btnQV {
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        width: 106px;
        height: 33px;
        margin: 0 auto;
        color: #000;
        border: 2px solid #000;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Poppins, Arial, Helvetica, sans-serif;
        font-weight: 700;
    }

        .actions > .btnQV:hover {
            border: 1px solid #000;
        }

    .productBlockContainer.row:after {
        content: "";
        display: table;
        clear: both;
    }

    .prod-name a {
        font-weight: 400;
        color: #000;
    }

        .prod-name a:hover {
            color: #000;
        }

    .prod-summary {
        font-weight: 400;
        line-height: 1.5rem;
    }

    .hoverin {
        opacity: 1 !important;
        visibility: visible !important;
    }

    .showdown {
        opacity: 1 !important;
        visibility: visible !important;
        top: 15px !important;
    }
</style>


<div id="container_page_nav">
    <div class="container">
        <!-- 要塞目錄資料及連結資料   開頭-->
        <!-- 動態綁定有a標籤href及text屬性 -->
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">New</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#"> New Arrivals</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="#"> Tie and Knot Ring</a>
            </li>
        </ul>
        <!-- 要塞目錄資料及連結資料   結尾-->
    </div>
</div>
<div class="container">
    @*產品大圖和購買相關功能*@
    <div class="row my-5">
        @*產品大圖*@
        <div class="col-xl-4 order-xl-1 col-md-6 order-md-2 col-12 order-1">
            <figure class="figure">
                <img id="LargePic" class="ProductLargeImg figure-img img-fluid w-100" v-bind:src="pics.Url1" alt="">
            </figure>
        </div>

        @* 右半部  購買清單*@
        <div class="col-xl-8 order-xl-2 col-md-6 order-md-2 order-3 pics">
            <div id="ProductName" class="productView-title">@ViewBag.ProductName</div>
            <div class="productView-rating"></div>
            <div id="ProductPrice " class="productView-price">$@ViewBag.ProductPrice </div>
            <span>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </span>
            <hr>
            <div class="productView-rating"></div>
            @*大小選擇 有時間再做*@
            @*<div>Size: <span class="text-danger">*</span></div>
                <button type="button" class="btn btn-outline-dark rounded-0 btn-size mr-2">6</button>
                <button type="button" class="btn btn-outline-dark rounded-0 btn-size mr-2">7</button>
                <button type="button" class="btn btn-outline-dark rounded-0 btn-size">8</button>*@
            <div class="productView-rating"></div>

            @*購買相關*@
            @*
                ID之後要隱藏!!!!
                ID之後要隱藏!!!!
                ID之後要隱藏!!!!
            *@
            @*會員ID*@
            @*<input id="MemberID" type="hidden" name="MemberID" value="@ViewBag.MemberID" />*@
            @*產品ID*@
            <input id="ProductID" type="hidden" name="ProductID" value="@ViewBag.ProductID" />
            @* 數量 *@
            <div>Quantity:</div>
            @* 增加 *@
            <button id="quantityAdd" type="button" class="btn btn-outline-dark rounded-0 btn-size"><i class="fas fa-chevron-up"></i></button>
            <input id="quantity" name="Quantity" value="1" class="text-center" />
            @* 減少 *@
            <button id="quantityReduce" type="button" class="btn btn-outline-dark rounded-0 btn-size mr-2"><i class="fas fa-chevron-down"></i></button>
            <div class="productView-rating"></div>
            <button class="btn btn-outline-dark" onclick="AddCart()">ADD TO CART</button>
        </div>
        @*產品小圖和社群按鈕*@
        <div class="col-xl-12 order-xl-3 col-md-12 order-md-3 col-12 order-2 mt-4 " id="ProductPics">
            <div class="col-xl-4 col-md-5 p-0 productView-thumbnail">
                <a class="mr-3 " href="javascript:void(0)">
                    <img class="viewPic thumbnail" v-bind:src="pics.Url1" />
                </a>
                <a class="mr-3" href="javascript:void(0)">
                    <img class="viewPic thumbnail" v-bind:src="pics.Url2" />
                </a>
                <a class="" href="javascript:void(0)">
                    <img class="viewPic thumbnail" v-bind:src="pics.Url3" />
                </a>
            </div>
        </div>
    </div>


    @* 產品detail *@
    <div class="row">
        <button id="btn-detail" class="btn rounded-0 btn-outline-white" style="border-right:0;border-bottom:0">DETAILS</button>
        <button id="btn-SAndR" type="button" class="btn rounded-0 btn-outline-white" style="border-bottom:0">SHIPPING & RETURNS</button>
        <div class="w-100" style="border-bottom: 1px solid #e5e5e5;"></div>
    </div>
    <div class="row">
        <div class="col-xl-12" style="padding-top:30px" ;>
            <div id="detail" style="line-height: 50px;">
                @Html.Raw(ViewBag.ProductDescription)
            </div>
        </div>
    </div>
    <div class="row">
        @*SHIPPING & RETURNS 貨運和退貨Q&A*@
        <div id="SAndR" class="col-xl-12 mt-4">
            <div>Shipping and Returns Policy</div>
            <div class="mt-3"><a href="@Url.Action("Shipping", "FrontEnd") ">Shipping FAQ</a></div>
            <div class="mt-3"><a href="javascript:void(0) ">Returns / Exchanges FAQ</a></div>
        </div>
    </div>
    @* 顧客回應 *@
    <div class="row">
        <h2 class="mt-5">Customer Reviews</h2>
    </div>
    <div class="row">
        <button id="btn-question" type="button" class="btn ml-auto btn-outline-white">
            <i class="far fa-comments"></i>
            Ask a Question
        </button>
        <button id="btn-review" type="button" class="btn ml-4 btn-outline-white">
            <i class="far fa-edit"></i>
            Write a Review
        </button>
    </div>
    <div class="row">
        <button type="button" class="btn border-0">
            <span>Reviews</span>
            <span id="reviewCount">0</span>
        </button>
        <button type="button" class="btn border-0">
            <span>Questions</span>
            <span id="questionCount">0</span>
        </button>
    </div>
    @* review and question 內容 *@
    <div class="RAndQ row border-left-0 border-right-0">
        <div id="defaultReview" class="my-5 mx-auto">
            Be the first to review this item
        </div>
        @*問問題*@
        <div id="questionForm" class="col-xl-12 my-5">
            <form>
                <h5 class="mb-4">Ask a Qusetion</h5>
                <div class="row">
                    <div class="form-group col-xl-3 col-md-3">
                        <label for="">Name</label>
                        <input type="text" class="form-control" id="NameOfAsk" placeholder="Enter your name">
                    </div>
                    <div class="form-group col-xl-3 col-md-3">
                        <label for="">Email </label>
                        <input type="email" class="form-control" id="EmailOfAsk" aria-describedby="emailHelp" placeholder="John@expample.com">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xl-12 col-md-12">
                        <label class="" for="">Question</label>
                        <textarea class="col-xl-12 col-md-12 col-12" rows="10" maxlength="1000" placeholder="Write your question here"></textarea>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-outline-dark rounded-0 ml-auto">SUBMIT QUESTION</button>
                </div>
            </form>
        </div>
        @*寫review*@
        <div id="reviewForm" class="col-xl-12 col-md-12 my-5">
            <form>
                <div class="row">
                    <div class="form-group col-xl-3 col-md-3">
                        <label for="">Name</label>
                        <input type="text" class="form-control" id="NameOfReview" placeholder="Enter your name">
                    </div>
                    <div class="form-group col-xl-3 col-md-3">
                        <label for="">Email </label>
                        <input type="email" class="form-control" id="EmailOfReview" aria-describedby="emailHelp" placeholder="John@expample.com">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xl-12 col-md-12">
                        <label for="">Rating</label>
                        <div>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xl-12 col-md-12">
                        <label for="">Title of Review</label>
                        <input type="text" class="form-control col-xl-12 col-md-12 col-12" id="TitleOfReview" placeholder="Give your review a Title">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xl-12 col-md-12 ">
                        <label class="" for="">How was your overall experience?</label>
                        <textarea class="col-xl-12 col-md-12 col-12" rows="10" maxlength="1000"></textarea>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-outline-dark rounded-0 ml-auto">SUBMIT QUESTION</button>
                </div>
            </form>
        </div>
    </div>
    @* 相關商品 *@
    <div class="row mt-5">
        <h2>Relative Produsts</h2>
    </div>

    <div class="row mb-3"></div>
</div>

@* 產品卡片 *@
<div class="container">
    <div class="productBlockContainer row">
        <div class="prod-item col-xl-4">
            <figure class="card-figure">
                <div class="prod-image">
                    <a href="#">
                        <img class="card-image"
                             src="https://i.imgur.com/RekqJO3.jpg">
                    </a>
                    <div class="actions">
                        <a href="#" class="btnWL">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#" class="btn btn-outline-dark rounded-0 btnATC">
                            <i class="fa fa-heart-o"></i>Add to
                            Cart
                        </a>
                        <a href="#" class="btnWL">
                            <i class="far fa-heart">Add to WishList</i>
                        </a>
                        <a href="#" class="btnQV quickview">Quick view</a>
                    </div>
                </div>
                <figcaption class="prod-desc">
                    <p class="prod-name text-center"><a href="#">Shine Bright Y-Necklace (14K)</a></p>
                    <div class="prod-price text-center"><span class="price">$24.00</span></div>

                </figcaption>
            </figure>
        </div>
        <div class="prod-item col-xl-4">
            <figure class="card-figure">
                <div class="prod-image">
                    <a href="#">
                        <img class="card-image"
                             src="https://i.imgur.com/RekqJO3.jpg">
                    </a>
                    <div class="actions">
                        <a href="#" class="btnWL">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#" class="btn btn-outline-dark rounded-0 btnATC">
                            <i class="fa fa-heart-o"></i>Add to
                            Cart
                        </a>
                        <a href="#" class="btnQV quickview">Quick view</a>
                    </div>
                </div>
                <figcaption class="prod-desc">
                    <p class="prod-name text-center"><a href="#">Shine Bright Y-Necklace (14K)</a></p>
                    <div class="prod-price text-center"><span class="price">$24.00</span></div>

                </figcaption>
            </figure>
        </div>
        <div class="prod-item col-xl-4">
            <figure class="card-figure">
                <div class="prod-image">
                    <a href="#">
                        <img class="card-image"
                             src="https://i.imgur.com/RekqJO3.jpg">
                    </a>
                    <div class="actions">
                        <a href="#" class="btnWL">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="#" class="btn btn-outline-dark rounded-0 btnATC">
                            <i class="fa fa-heart-o"></i>Add to
                            Cart
                        </a>
                        <a href="#" class="btnQV quickview">Quick view</a>
                    </div>
                </div>
                <figcaption class="prod-desc">
                    <p class="prod-name text-center"><a href="#">Shine Bright Y-Necklace (14K)</a></p>
                    <div class="prod-price text-center"><span class="price">$24.00</span></div>


                </figcaption>
            </figure>
        </div>
    </div>
</div>

@section viewJquery{
    <script src="~/Scripts/vue.js"></script>
    <script>
        //用來接pic的vue
        var picVue;
        $( function () {
            //隱藏Shipping and Returns
            $( '#SAndR' ).hide();
            //隱藏問題跟回顧表格
            $( '#questionForm' ).hide();
            $( '#reviewForm' ).hide();
            //問題跟回顧表格按鈕
            $( '#btn-review' ).click( FormStatus );
            $( '#btn-question' ).click( FormStatus );
            //控制購買數量按鈕
            $( '#quantityAdd' ).click( QuantityChange );
            $( '#quantityReduce' ).click( QuantityChange );
            //產品細節切換
            $( '#btn-detail' ).click( DetailSwitch );
            $( '#btn-SAndR' ).click( DetailSwitch );
            //切換產品大圖
            $( '.thumbnail' ).click( PicChange );
            //產品卡片
            $( ".card-figure" ).hover( function () {
                $( this ).find( ".btnWL" ).addClass( "showdown" );
                $( this ).find( ".btnQV" ).addClass( "hoverin" );
                $( this ).find( ".btnATC" ).addClass( "hoverin" );
            }, function () {
                $( this ).find( ".btnWL" ).removeClass( "showdown" );
                $( this ).find( ".btnQV" ).removeClass( "hoverin" );
                $( this ).find( ".btnATC" ).removeClass( "hoverin" );
            } )
            //vue binding
            BindingVue();
            //加入wishlist
            $( ".btnWL" ).click( function ( e ) {
                e.preventDefault();
                var item = $( this );
                var id = item.parents( "figure" ).attr( "id" );
                var isRed = item.find( "i" ).attr( "style" ) == null ? false : true;
                //if ($(this).find("i").attr("style") == null) {
                //    var isRed = false;
                //} else {
                //    var isRed = true;
                //}
                if ( isRed ) {
                    $.ajax( {
                        type: "POST",
                        url: "/FrontEnd/DeleteWish",
                        data: {
                            MemberID: 0,
                            ProductID: id
                        },
                        dataType: "text",
                        success: function ( response ) {
                            if ( response ) {
                                alert( 'Delete wishlist' );
                                item.find( "i" ).removeAttr( "style" )
                            }
                        }
                    } );
                } else {
                    $.ajax( {
                        type: "POST",
                        url: "/FrontEnd/AddWish",
                        data: {
                            MemberID: 0,
                            ProductID: id
                        },
                        dataType: "text",
                        success: function ( response ) {
                            if ( response ) {
                                alert( 'Add to wishlist' );
                                item.find( "i" ).attr( "style", "color:red" );
                            }
                        }
                    } );
                }
            } );
        } );

        function GetBtnId( btn ) {
            //取得傳入btn的id
            let btnId = $( btn ).attr( 'id' );
            return btnId;
        }

        //增加購買數量
        function QuantityChange() {
            let btnId = GetBtnId( this );
            //取得目前顯示數量
            var quant = $( '#quantity' ).val();
            if ( btnId == 'quantityReduce' && quant > 1 ) {
                quant--;
            } else if ( btnId == 'quantityAdd' ) {
                quant++;
            }
            $( '#quantity' ).val( quant );
        }

        //產品細節和Q&A切換
        function DetailSwitch() {
            let btnId = GetBtnId( this );
            if ( btnId == 'btn-detail' ) {
                $( '#detail' ).show();
                $( '#SAndR' ).hide();
            } else {
                $( '#detail' ).hide();
                $( '#SAndR' ).show();
            }
        }

        //切換產品大圖
        function PicChange() {
            // 大小圖片的src
            let smallSrc = $( this ).attr( 'src' );
            let largeSrc = $( '#LargePic' ).attr( 'src' );
            if ( smallSrc != largeSrc ) {
                $( '#LargePic' ).attr( 'src', smallSrc );
            }
        }

        //切換問題和回顧表格
        //bool 表示現在顯示的是哪種表格
        var question = false;
        var review = false;
        function FormStatus() {
            let btnId = GetBtnId( this );
            if ( btnId == "btn-question" && question == false ) {
                question = true;
                review = false;
            } else if ( btnId == "btn-question" && question == true ) {
                question = false;
            } else if ( btnId == "btn-review" && review == false ) {
                question = false;
                review = true;
            } else if ( btnId == "btn-review" && review == true ) {
                review = false;
            }
            FormSwitch( question, review );
        }

        //切換表格顯示
        function FormSwitch( question, review ) {
            $( '#questionForm' ).hide();
            $( '#reviewForm' ).hide();
            $( '#defaultReview' ).hide();
            if ( question ) {
                $( '#questionForm' ).show();
            } else if ( review ) {
                $( '#reviewForm' ).show();
            } else {
                $( '#defaultReview' ).show();
            }
        }

        //新增購物車 ajax
        function AddCart() {
            let productId = $( '#ProductID' ).val();
            //let memberId = $( '#MemberID' ).val();
            let quantity = $( '#quantity' ).val();

            $.ajax( {
                type: "POST",
                //先確認目前的訂單狀況 再接AddCart的action
                url: "/FrontEnd/CheckOrder",
                data: { /*MemberID: memberId,*/ ProductID: productId, Quantity: quantity },
                dataType: "text",
                success: function ( response ) {
                    alert( '成功加入購物車' );
                }
            } );
        }

        function BindingVue() {
            picVue = new Vue({
                el:'#ProductPics',
                data: {pics:  @Html.Raw(ViewBag.ProductUrl)}
            } )

            let LargePicVue = new Vue( {
                el:'#LargePic',
                data: {pics:  @Html.Raw(ViewBag.ProductUrl)}
            })

        }
    </script>
}
