@model vegetable.Models.ViewModels.JsonProductDetail
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>JsonProductDetail</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="app">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CategoryId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })*@
                <el-input :disabled="disable" placeholder="請選擇商品類別" v-model="inputCategory" id="CategoryId" name="CategoryId" :value="inputCategory">
                    <el-button slot="append" icon="el-icon-edit" @@click="() => openappendform()"></el-button>
                </el-input>
            </div>

            <el-dialog title="產品類別選擇"
                       :visible.sync="dialogVisible"
                       width="30%">
                <div class="custom-tree-container">
                    <div class="block">
                        <el-tree :data="catrgoriesdata"
                                 show-checkbox
                                 node-key="id"
                                 empty-text="暫無數據"
                                 ref="tree"
                                 highlight-current
                                 :expand-on-click-node="false"
                                 v-on:check-change="handleCheckedChange">
                            <span class="custom-tree-node" slot-scope="{ node, data }">
                                <span>{{ node.label }}</span>
                            </span>
                        </el-tree>
                    </div>
                </div>
                <span slot="footer" class="dialog-footer">
                    <el-button @@click="dialogVisible = false">取消</el-button>
                    <el-button type="primary" @@click="append()">確定</el-button>
                </span>
            </el-dialog>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitsInStock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitsInStock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnitsInStock, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PicUrl1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="Pic1" id="Pic1" />
                <br />
                <label id="PicUrl1label" name="PicUrl1label"></label>
                @Html.EditorFor(model => model.PicUrl1, new { htmlAttributes = new { @class = "form-control", style = " display:none" } })
                <img src="" id="PicUrl1Img" />
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PicUrl2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="Pic2" id="Pic2" />
                <br />
                <label id="PicUrl2label" name="PicUrl2label"></label>
                @Html.EditorFor(model => model.PicUrl2, new { htmlAttributes = new { @class = "form-control", style = " display:none" } })
                <img src="" id="PicUrl2Img" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PicUrl3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="Pic3" id="Pic3" />
                <br />
                <label id="PicUrl3label" name="PicUrl3label"></label>
                @Html.EditorFor(model => model.PicUrl3, new { htmlAttributes = new { @class = "form-control", style = " display:none" } })
                <img src="" id="PicUrl3Img" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<style>
    .el-input-group__append {
        color: #fff;
        background-color: #409eff;
        border-color: #409eff;
    }
</style>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section Endscripts
{
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                inputCategory: '',
                id: '',
                disable: true,
                currentdata: null,
                currentnode: null,
                catrgoriesdata: [],
                dialogVisible: false,
            },
            mounted: function () {
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "/api/CategoriesApi",
                    "method": "GET",
                }
                $.ajax(settings).done(function (response) {

                    vm.catrgoriesdata = response;
                });
            },
            methods: {
                openappendform() {
                    this.dialogVisible = true;
                    console.log(this);
                },
                append() {
                    this.$confirm('此操作將選擇該商品種類，是否繼續？', '提示', {
                        confirmButtonText: '確定',
                        cancelButtonText: '取消',
                        type: 'warning',


                    }).then(() => {

                        vm.inputCategory = vm.$refs.tree.getCheckedNodes()[0].id;
                        vm.id = vm.$refs.tree.getCheckedNodes()[0].id;
                        this.$refs.tree.setCheckedKeys([]);
                        this.disable = false;
                        this.dialogVisible = false;
                        this.$message({
                            type: 'success',
                            message: '選擇商品類別成功'

                        })

                    }).catch(() => {

                        this.$message({
                            type: 'error',
                            message: '已取消選擇'
                        });
                    });


                },
                handleCheckedChange(data, checked, indeterminate) {
                    if (checked)
                        this.$refs.tree.setCheckedKeys([data.id]);
                }
            }
        });

        var src;
        $("#Pic1").change(function (e) {
            var fp = $("#Pic1").val().split("\\");
            var name = fp[fp.length - 1];

            let form = new FormData();
            form.append("userfile", e.target.files[0]);
            $.ajax({
                type: "POST",
                processData: false,
                url: "/NewProduct/UploadFile",
                data: form,
                contentType: false,
                success: function (response) {

                    $.ajax({
                        type: "POST",

                        url: "/NewProduct/UploadFile2Cloud",
                        data: { updatedata: name, form: response },

                        success: function (response) {
                            console.log(response);
                            $("#PicUrl1Img").attr("style", "width:20%;height:20%")
                            document.getElementById("PicUrl1Img").src = response;
                            document.getElementById("PicUrl1label").innerText = response;
                            $("#PicUrl1").attr("value", response);

                        }
                    });
                }
            });
        });

        $("#Pic2").change(function (e) {
            var fp = $("#Pic2").val().split("\\");
            var name = fp[fp.length - 1];

            let form = new FormData();
            form.append("userfile", e.target.files[0]);
            $.ajax({
                type: "POST",
                processData: false,
                url: "/NewProduct/UploadFile",
                data: form,
                contentType: false,
                success: function (response) {

                    $.ajax({
                        type: "POST",
                        url: "/NewProduct/UploadFile2Cloud",
                        data: { updatedata: name, form: response },
                        success: function (response) {
                            console.log(response);
                            $("#PicUrl2Img").attr("style", "width:20%;height:20%")
                            document.getElementById("PicUrl2Img").src = response;
                            document.getElementById("PicUrl2label").innerText = response;
                            $("#PicUrl2").attr("value", response);
                        }
                    });
                }
            });
        });
        $("#Pic3").change(function (e) {
            var fp = $("#Pic3").val().split("\\");
            var name = fp[fp.length - 1];

            let form = new FormData();
            form.append("userfile", e.target.files[0]);
            $.ajax({
                type: "POST",
                processData: false,
                url: "/NewProduct/UploadFile",
                data: form,
                contentType: false,
                success: function (response) {

                    $.ajax({
                        type: "POST",

                        url: "/NewProduct/UploadFile2Cloud",
                        data: { updatedata: name, form: response },

                        success: function (response) {
                            console.log(response);
                            $("#PicUrl3Img").attr("style", "width:20%;height:20%")
                            document.getElementById("PicUrl3Img").src = response;
                            document.getElementById("PicUrl3label").innerText = response;
                            $("#PicUrl3").attr("value", response);

                        }
                    });
                }
            });
        });
    </script>
}
