@model IEnumerable<vegetable.Models.ViewModels.NewProductDetail>

@{
    ViewBag.Title = "產品管理";
}

<div id="loading"></div>
<div class="mask"></div>
<div class="content-title mx-auto" style="width:75vw !important">
    <h2>產品管理</h2>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:200px">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td style="width:65px">
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td class="product-description">
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td style="width:65px">
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td class="product-pic" style="width:400px">
                @Html.DisplayFor(modelItem => item.PicUrl)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new
                {
                    id = item.ProductID
                })
                @*@Html.ActionLink("Details", "Details", new
                    {
                        id = item.ProductID
                    })*@
                @Html.ActionLink("Delete", "Delete", new
                {
                    id = item.ProductID
                })
            </td>
        </tr>
    }

</table>

@Styles.Render("~/Content/loadingCSS")
@Scripts.Render("~/bundles/loadingJS")
@section BackStageVue{
    <script>
        $( '.product-pic' ).each( function ( index, element ) {
            let jsonUrl = $( element ).text();
            let url = JSON.parse( jsonUrl )
            $( element ).html( '' );
            var html = `
                                <img class="" style="height: 170px; width: auto; display: inline;" src=${url.Url1} alt="">
                                <img class="" style="height: 170px; width: auto; display: inline;" src="${url.Url2}" alt="">
                                <img class="" style="height: 170px; width: auto; display: inline;" src="${url.Url3}" alt="">
                                `
            $( element ).html( html );
        } );

        $( '.product-description' ).each( function ( index, element ) {
            let html = $( element ).text();
            $( element ).html( '' );
            $( element ).html( html );
        } );
        CloseLoading()
    </script>
}
